@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Iso&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}


/* for admin */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  z-index: 1;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.container,
.container-fluid {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (min-width: 768px) {

  .container,
  .container-fluid {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-fluid {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

.food-section {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  width: 100%;
}